.x-page{
  margin: 0;
  padding: 0;
  height: 100%;
}
.x-page-header{
  font-size: 24px ;
  text-align: center;
}

.inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.x-font-xs {
  font-size: 22rpx;
}

.x-font-sm {
  font-size: 26rpx;
}

.x-font-md {
  font-size: 28rpx;
}

.x-font-lg {
  font-size: 30rpx;
}

.x-font-xl {
  font-size: 34rpx;
}

.x-padding-10{
  padding: 10px;
}

.x-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
